---
layout: default
---

  <div id="homeid" class="col-sm-8">
        <h1>Welcome to the Center for Integrated Systems @ University of Kragujevac</h1>
        <!--<h1>Welcome to the Center for Integrated Systems at the University of Kragujevac</h1>-->
        <!--must be with the definite article, the University of Kragujevac-->
        <!--<h1>Welcome to the Center for Integrated Systems (CIS)</h1>-->
        <!--<h2>Welcome to the Center for Integrated Systems (CIS) @ University of Kragujevac</h2>-->
        <!--<h2>Welcome to the Center for Integrated Systems at the University of Kragujevac</h2>-->
	{{ content }}
  </div>
  <div id="newsid" class="col-sm-4" >
	{% include news.html %}
  </div>
